* {
	margin: 0;
	padding: 0;
}
#nav {
	border: solid 1px black;
	display: flex;
	justify-content: space-between;
}
.imgCont>img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.imgCont {
	display: flex;
	flex-direction: row;
	padding: 5px;
}
.ulCont {
	margin: 15px 10vh 10px 10px;
}
.ulCont>ul {
	display: flex;
}
.ulCont>ul>li {
	list-style-type: none;
	padding: 5px;
	width: 100px;
	align-items: center;
	text-align: center;
	font-size: 12px;
	border: solid 1px;
	cursor: pointer;
}
.ulCont>ul>li:hover {
	list-style-type: none;
	padding: 5px;
	width: 100px;
	align-items: center;
	text-align: center;
	font-size: 12px;
	border: solid 1px black;
	cursor: pointer;
	background-color: black;
	color: white;
}
.start {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.end {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}